<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />

  <script src='/javascripts/index.js' defer></script>
</head>

<body>
  <div class='columns notification is-info'>
    <div class='column is-whole has-text-centered'>
      <div class='header'>
        <h1 class='title'><%= title %></h1>
        <p><span class='has-text-weight-bold is-size-5'>Welcome to <%= title %></span> the tool to refine your colour pallet. Accessibility is important and fortunately more and more people are aware of it. Annoyingly it can be hard to know what colours do and don't work for different people. Simply upload an image below to see how it looks to various types of colour blindness.</p>
      </div>
      <br/><br/>
      <form id='form' ref='uploadForm' id='uploadForm' action='/upload' method='post' encType='multipart/form-data'>
        <input class='upload_file' accept="image/*" id='file' type='file' name='sampleFile' />
        <br/><br/>
        <input class='button is-primary' id='upload' type='submit' value='Upload' />
        <br /><br/>
        <img src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id='form_loading' class='is-hidden'></img>
      </form>
    </div>  
  </div>
      
  <br />

  <div id='cont' class='columns has-text-centered is-hidden'>
    <div class="column">
      <span class='preview'>
        <h3>Original</h3>
        <img id='orig'src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' ></img>
      </span>

      <span class='preview'>
        <h3>Protanomaly</h3>
        <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id='protanomaly'></img>
      </span>

      <span class='preview'>
        <h3>Protanopia</h3>
        <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id='protanopia'></img>
      </span>
    </div>

    <div class="column">
    <span class='preview'>
      <h3>Deuteranomaly</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id='deuteranomaly'></img>
    </span>

    <span class='preview'>
      <h3>Deuteranopia</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id='deuteranopia'></img>
    </span>

    <span class='preview'>
      <h3>Tritanomaly</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id='tritanomaly'></img>
    </span>
    </div>
    <div class="column">
    <span class='preview'>
      <h3>Tritanopia</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id='tritanopia'></img>
    </span>

    <span class='preview'>
      <h3>Achromatomaly</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id='achromatomaly'></img>
    </span>

    <span class='preview'>
      <h3>Achromatopsia</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id='achromatopsia'></img>
    </span>
  </div>
  </div>

  <div hidden class='error'>Error: Cannot connect to server</div>

  <div id='modals'>
    <div class="modal" id='mod_orig' onclick="this.classList.remove('is-active')">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id='mod_protanomaly' onclick="this.classList.remove('is-active')">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id='mod_protanopia' onclick="this.classList.remove('is-active')">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id='mod_deuteranomaly' onclick="this.classList.remove('is-active')">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id='mod_deuteranopia' onclick="this.classList.remove('is-active')">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id='mod_tritanomaly' onclick="this.classList.remove('is-active')">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id='mod_tritanopia' onclick="this.classList.remove('is-active')">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id='mod_achromatomaly' onclick="this.classList.remove('is-active')">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="modal" id='mod_achromatopsia' onclick="this.classList.remove('is-active')">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="notification is-warning" id='thanks'>
      <button class="delete" onclick="document.querySelector('#thanks').classList.add('is-hidden')"></button>
      Thanks to my friends Jack and Jessamy (I only talk to people with J name) who gave me this idea. I promised them I'd write this on the page so .... here you go✌️! 
    </div>
</body>

</html>