<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/index.js' defer></script>
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <form id='form' ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
    <input id='file' type="file" name="sampleFile" />
    <input id='upload' type='submit' value='Upload' />
    <br />
    <img hidden src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' class="form_loading"></img>
  </form>

  <br />

  <div hidden class='cont'>
    <div class='preview' id='original'>
      <h3>Original</h3>
      <img id='orig'></img>
    </div>

    <div class='preview' id='original'>
      <h3>Protanomaly</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id="protanomaly"></img>
    </div>

    <div class='preview' id='original'>
      <h3>Protanopia</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id="protanopia"></img>
    </div>

    <div class='preview' id='original'>
      <h3>Deuteranomaly</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id="deuteranomaly"></img>
    </div>

    <div class='preview' id='original'>
      <h3>Deuteranopia</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id="deuteranopia"></img>
    </div>

    <div class='preview' id='original'>
      <h3>Tritanomaly</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id="tritanomaly"></img>
    </div>

    <div class='preview' id='original'>
      <h3>Tritanopia</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id="tritanopia"></img>
    </div>

    <div class='preview' id='original'>
      <h3>Achromatomaly</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id="achromatomaly"></img>
    </div>

    <div class='preview' id='original'>
      <h3>Achromatopsia</h3>
      <img class='output' src='https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif' id="achromatopsia"></img>
    </div>
  </div>

  <div hidden class='error'>Error: Cannot connect to server</div>
</body>

</html>